<#include "/ap/assets/base.html">

  <div class="container-fluid bg-body-tertiary border-bottom p-3">
    <div class="row align-items-center">
      <div class="col-auto">
        <h5 class="mb-0">
          <i class="fa-solid fa-user-group"></i> Users
        </h5>
      </div>
    </div>
  </div>

  <div class="container-fluid bg-body-tertiary border-bottom p-3">
    <div class="row">
      <div class="col">
        <form class="d-flex" action="/ap/users" method="get">
          <input type="text" name="search" class="form-control me-2" placeholder="Search users..." value="${search!}">
          <button class="btn btn-outline-secondary" type="submit">Search</button>
        </form>
      </div>
    </div>
  </div>

  <div class="container my-1 flex-grow-1">
    <div class="table-responsive">
      <table class="table table-hover">
        <thead>
          <tr>
            <th style="width:60px" class="text-center"></th>
            <th class="text-center">Name</th>
            <th class="text-center">Privileges</th>
            <th class="text-center">Groups</th>
          </tr>
        </thead>
        <tbody>
          <#list users as apuser>
            <tr onclick="window.location='/ap/user?id=${apuser.id?c}'" style="cursor: pointer;">
              <td class="text-center align-middle">
                <img src="${avatarServer}/${apuser.id?c}?v=${.now?long?c}" alt="${apuser.name} avatar" style="width: 50px; height: 50px;">
              </td>
              <td class="text-center align-middle">${apuser.name}</td>
              <td class="priv-cell text-center align-middle">
               <#if apuser.priv?size gt 3>
                ...<br>
                <#list apuser.priv[(apuser.priv?size - 3)..] as appriv>
                  ${appriv}<br>
                </#list>
              <#else>
                <#list apuser.priv as appriv>
                  ${appriv}<br>
                </#list>
              </#if>
              </td>
              <td class="priv-cell text-center align-middle">
                <#list apuser.groups as group>
                  ${group.emoji} ${group.name}<br>
                <#else>
                  None
                </#list>
              </td>
            </tr>
          </#list>
        </tbody>
      </table>
    </div>
  </div>

<#include "/ap/assets/pagination.html">

</div>
</body>
</html>
