<!DOCTYPE html>
<html lang="en" data-bs-theme="dark" data-bs-core="elegant">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Panel</title>
    <link href="/css/halfmoon.min.css" rel="stylesheet">
    <script src="/js/bootstrap.bundle.min.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Martian+Mono:wght@400;600&display=swap">
    <link rel="stylesheet" href="/css/apstyle.css">
    <script src="/js/chart.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css">
    
    <script src="/js/apscript.js"></script>
    <#include "/freemarker/globals.ftl">

</head>

<body class="ps-xxl-sbwidth">

    <!-- Sidebar -->
    <nav class="sidebar border-end offcanvas-start offcanvas-xxl bg-dark text-light" id="sidebar" tabindex="-1">
        <!-- Sidebar Header -->
        <div class="offcanvas-header bg-body-tertiary border-bottom border-opacity-25">
            <a class="sidebar-brand d-flex align-items-center" href="/ap/start">
                <img src="${c.otherLogoUrl}" alt="icon" width="24" height="24" class="me-2"> 
                Admin Panel
            </a>
            <small class="text-muted ms-2"><span class="version">v1.5</span></small>
        </div>

        <!-- Sidebar Body -->
        <div class="offcanvas-body">
            <ul class="sidebar-nav">
                <!-- Dashboard Section -->
                <li class="mt-4">
                    <h6 class="sidebar-header text-uppercase">Dashboard</h6>
                    <hr class="sidebar-divider my-1">
                </li>
                <li class="nav-item">
                    <a href="/ap/start" class="nav-link <#if actNav == 1>active</#if>">
                        <i class="fa-solid fa-house shiina-ap-icon"></i> Start
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/ap/commands" class="nav-link <#if actNav == 2>active</#if>">
                        <i class="fa-solid fa-terminal shiina-ap-icon"></i> Commands
                    </a>
                </li>

                <!-- Nominator Section (If Applicable) -->
                <#if userPriv?seq_contains("NOMINATOR")>
                <li class="mt-4">
                     <h6 class="sidebar-header text-uppercase">Nomination</h6>
                     <hr class="sidebar-divider my-1">
                </li>

                <li class="nav-item">
                     <a href="/ap/maprequests" class="nav-link <#if actNav == 20>active</#if>">
                         <i class="fa-solid fa-map shiina-ap-icon"></i> Map Requests
                     </a>
                      <a href="/ap/mapranking" class="nav-link <#if actNav == 21>active</#if>">
                         <i class="fa-solid fa-location-crosshairs shiina-ap-icon"></i> Map Ranking
                     </a>
                 </li>
                </#if>

                 <!-- Moderator Section (If Applicable) -->
                 <#if userPriv?seq_contains("MODERATOR")>
                 <li class="mt-4">
                     <h6 class="sidebar-header text-uppercase">Moderation</h6>
                     <hr class="sidebar-divider my-1">
                 </li>
                 <li class="nav-item">
                     <a href="/ap/bancho" class="nav-link <#if actNav == 16>active</#if>">
                         <i class="fa-solid fa-server shiina-ap-icon"></i> Bancho
                     </a>
                 </li>
                 <li class="nav-item">
                     <a href="/ap/multiaccs" class="nav-link <#if actNav == 11>active</#if>">
                         <i class="fa-solid fa-users shiina-ap-icon"></i> Multi Accounts
                     </a>
                 </li>
                 <li class="nav-item">
                     <a href="/ap/users" class="nav-link <#if actNav == 14>active</#if>">
                         <i class="fa-solid fa-user-group shiina-ap-icon"></i> Users
                     </a>
                 </li>
                 <li class="nav-item">
                    <a href="/ap/chat" class="nav-link <#if actNav == 15>active</#if>">
                        <i class="fa-solid fa-comment shiina-ap-icon"></i> Chat Explorer
                    </a>
                </li>
                 </#if>

                <!-- Administrator Section (If Applicable) -->
                <#if userPriv?seq_contains("ADMINISTRATOR")>
                <li class="mt-4">
                    <h6 class="sidebar-header text-uppercase">Administration</h6>
                    <hr class="sidebar-divider my-1">
                </li>
                <li class="nav-item">
                    <a href="/ap/system" class="nav-link <#if actNav == 10>active</#if>">
                        <i class="fa-solid fa-cog shiina-ap-icon"></i> System
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/ap/settings" class="nav-link <#if actNav == 18>active</#if>">
                        <i class="fa-solid fa-screwdriver-wrench shiina-ap-icon"></i> Settings
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/ap/themes" class="nav-link <#if actNav == 12>active</#if>">
                        <i class="fa-solid fa-brush shiina-ap-icon"></i> Themes
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/ap/groups" class="nav-link <#if actNav == 13>active</#if>">
                        <i class="fa-solid fa-star shiina-ap-icon"></i> Groups
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/ap/audit" class="nav-link <#if actNav == 17>active</#if>">
                        <i class="fa-solid fa-list shiina-ap-icon"></i> Audit Log
                    </a>
                </li>
                </#if>
                <#assign seeableItems = 0>
                <#list adminNavbarItems as item>
                    <#if userPriv?seq_contains(item.permission)>
                        <#assign seeableItems = seeableItems + 1>
                    </#if>
                </#list>
                <#if adminNavbarItems?? && adminNavbarItems?has_content && (seeableItems > 0)>
                <li class="mt-4">
                    <h6 class="sidebar-header text-uppercase">Plugins</h6>
                    <hr class="sidebar-divider my-1">
                </li>
                <#list adminNavbarItems as item>
                    <#if userPriv?seq_contains(item.permission)>
                    <li class="nav-item">
                        <a href="/${item.url}" class="nav-link <#if actNav == item.actNav>active</#if>">
                            <i class="fa-solid ${item.icon} shiina-ap-icon"></i> ${item.name}
                        </a>
                    </li>
                    </#if>
                </#list>
                </#if>

                <!-- Other Section -->
                <li class="mt-4">
                    <h6 class="sidebar-header text-uppercase">Other</h6>
                    <hr class="sidebar-divider my-1">
                </li>
                <li class="nav-item">
                    <a href="/ap/replays" class="nav-link">
                        <i class="fa-solid fa-film shiina-ap-icon"></i> Replays
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/" class="nav-link">
                        <i class="fa-solid fa-arrow-left shiina-ap-icon"></i> Return to ${c.serverName}
                    </a>
                </li>
            </ul>
        </div>
    </nav>

<div class="d-flex flex-column min-vh-100">
        <!-- Top Navbar -->
    <nav class="navbar navbar-expand-xxl bg-body-tertiary border-bottom border-opacity-25 d-flex d-xxl-none">
        <div class="container-fluid">
            <a href="/ap/start" class="navbar-brand d-flex align-items-center">
                <img src="${c.otherLogoUrl}" alt="icon" width="24" height="24" class="me-2"> 
                Admin Panel
            </a>
            <button class="btn btn-secondary" type="button" data-bs-toggle="offcanvas" data-bs-target="#sidebar">
                <i class="fa-solid fa-bars"></i>
            </button>
        </div>
    </nav>
