# Shiina-Web
HOST=localhost
PORT=3010
DEV_PORT=3011

# Bancho Database
DBHOST=localhost
DBUSER=bancho
DBPASS=
DBNAME=banchopy
DOMAIN=https://osunolimits.dev

# Use bancho.py-ex to have this to work otherwise disabled pubsubs and change apiurl to public
# https://github.com/osu-NoLimits/bancho.py-ex
APIURL=http://localhost:10000
EXPUBSUBS=true

APIURLPUBLIC=https://api.osunolimits.dev
ASSETSURL=https://assets.osunolimits.dev
AVATARSRV=https://a.osunolimits.dev

AVATARFOLDER=/home/bancho.py-ex/.data/avatars/
MAXFILESIZE=1 # in MB
MAXREQUESTSIZE=2 # in MB
CRON_THREADS=3

# Cloudflare Captcha
TURNSTILE_KEY=
TURNSTILE_SECRET=

# Database Tuning
POOLSIZE=20
TIMEOUT=3000

# WebServer Tuning
TEMPLATE_UPDATE_DELAY=30000
MIN_THREADS=10
MAX_THREADS=20
TIMEOUT_MS=60000

# Redis Cache
REDISHOST=localhost
REDISPORT=6379
REDISDB=0
REDISUSER=default
REDISPASS=
REDISTIMEOUT=3000

# Marketplace
# Connects to osuNoLimits Network
# Offers (free/paid) plugins and themes
DOWNLOAD_MARKETPLACE_PLUGIN=true

# Bancho internal API key (used for PP calculation)
BANCHO_API_KEY=your-bancho-api-key-here