<#include "assets/base.html">
    <div class="container">
        <div class="bg-gradient border rounded position-relative"
            style="background: linear-gradient(135deg, #667eea 0%, #764ba2 100%);">
            <div class="row p-4 position-relative">
                <!-- Profile Picture -->
                <div class="col-12 col-md-3 d-flex justify-content-center align-items-center mb-3 mb-md-0">
                    <div class="position-relative">
                        <img src="${avatarServer}/${u.id}?v=${.now?long?c}" alt="Profile picture" class="img-fluid rounded shadow-lg"
                            style="width: 150px; height: 150px; object-fit: cover;">
                    </div>
                </div>
                <!-- Player Name -->
                <div class="col-12 col-md-9 d-flex flex-column justify-content-center text-white">
                    <div class="mb-2">
                        <h1 class="display-4 fw-bold mb-2 shiina-player-name">
                            ${u.name}
                        </h1>

                        <div class="groupPlace d-flex flex-wrap gap-2 mt-2 mb-3">
                            <span class="badge shiina-badge bg-light bg-opacity-25 text-white py-2 rounded-pill pe-3">
                                <span class="groupEmoji me-2">🤖</span>Bot
                            </span>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <#include "assets/footer.html">