
<#include "assets/base.html">
<div class="container">
    <div class="card w-100">
        <div class="bg-secondary border-0 card-header text-body d-flex justify-content-between align-items-center py-4">
            <span class="h1 fw-bold mb-0">Login</span>
        </div>

        <div class="card-body bg-body px-4">
            <#if error??>
                <div data-turbo-temporary class="alert alert-danger" role="alert">
                    ${error}
                </div>
            </#if>
            <#if info??>
                <div data-turbo-temporary class="alert alert-primary" role="alert">
                    ${info}
                </div>
            </#if>

            <form data-turbo="false" data-toggle="validator" role="form" method="post" action="/login">
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group mb-3">
                            <label>Email or Username</label>
                            <div class="input-group">
                                <span class="input-group-text" id="add-on-1">@</span>
                                <input name="input" required type="text" class="form-control" placeholder="Email or Username" aria-label="Email or Username" aria-describedby="add-on-1">
                            </div>
                        </div>
                    </div>
                </div>

                <#if refPath??>
                    <input type="hidden" name="refPath" value="${refPath}">
                </#if>

                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group mb-3">
                            <label>Password</label>
                            <div class="input-group">
                                <span class="input-group-text"><i class="fa-solid fa-lock"></i></span>
                                <input required name="password" type="password" class="form-control" placeholder="Password" aria-label="Password" aria-describedby="add-on-1">
                            </div>
                        </div>
                    </div>
                </div>
                <div id="turnstile" data-theme="${c.mode}" data-token="${turnstilePublic}"></div>

                <#list modules as module>
                    ${module}
                </#list>

                <div class="row my-2">
                    <div class="checkbox checkbox-primary">
                        <input id="checkbox_remember" type="checkbox" name="remember">
                        <label for="checkbox_remember">Remember me</label>
                    </div>
                </div>

        
                <div class="row my-3">
                    <div class="col-md-12">
                        <input type="hidden" name="redirect" value="">
                        <button type="submit" class="btn btn-primary btn-lg btn-block">Login</button>
                    </div>
                </div>
            </form>

            <div class="mt-4">
                <i class="fa fa-user fa-fw"></i> No account? <a href="/register<#if refPath??>?path=${refPath}</#if>">Register</a>
            </div>
        </div>
    </div>
</div>
<#include "assets/footer.html">
<script>
    var turnstileToken = '${turnstilePublic}';
</script>