<#include "assets/base.html">

 <div class="container-fluid bg-body-tertiary border-bottom p-3">
    <div class="row align-items-center">
      <div class="col-auto">
        <h5 class="mb-0">
          <i class="fa-solid fa-server"></i> Bancho
        </h5>
      </div>
    </div>
  </div>

<div class="container mt-2">

       <div class="row">
        <#list online.players as p>
        <div class="col-md-4 mb-3">
            <div class="card h-100 ">
                <div class="card-body h-100 d-flex align-items-center">
                    <img width="50" class="img-fluid img-thumbnail me-3" src="${avatarServer}/${p.id?c}?v=${.now?long?c}" alt="">
                    <div>
                        <i class="fa-solid text-success fa-circle me-2"></i><a href="/ap/user?id=${p.id?c}">${p.name}</a>
                    </div>
                </div>
            </div>
        </div>
        </#list>
        <#list online.bots as p>
        <div class="col-md-4 mb-3">
            <div class="card">
                <div class="card-body d-flex align-items-center">
                    <img width="50" class="img-fluid img-thumbnail me-3" src="${avatarServer}/${p.id?c}?v=${.now?long?c}" alt="">
                    <div>
                        <i class="fa-solid text-success fa-circle me-2"></i> ${p.name}
                    </div>
                </div>
            </div>
        </div>
        </#list>
       </div>


    <div class="row ">
        <div class="col-md-4 mb-3">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title"><i class="fa-solid text-success fa-circle "></i> Online Users</h5>
                    <p class="card-text">${online.players?size} + (${online.bots?size})</p>
                </div>
            </div>
        </div>
        <div class="col-md-4 mb-3">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title"><i class="fa-solid fa-user"></i> Total Users</h5>
                    <p class="card-text">${stats.total}</p>
                </div>
            </div>
        </div>
        
    </div>

    <div class="row">
        <div class="col">
            <div class="card p-0 my-2">
                <div class="card-header border-bottom border-0">
                    <h5 class="mb-0 fw-bold">
                        <i class="fa-solid fa-message text-primary me-2"></i> Alert All
                        </h5>
                    </div>
                    <div class="card-body">
                        <div class="mb-3">
                            
                            <textarea class="form-control" id="alertInput" rows="3"></textarea>
                        </div>
                        <a
                            name=""
                            id="alertButton"
                            class="btn btn-primary"
                            role="button"
                        >Send</a
                        > <span id="alertStatus" class="text-success"></span>
                    </div>
                </div>
    
</div>
<script>
    document.getElementById('alertButton').addEventListener('click', async () => {
        const alertInput = document.getElementById('alertInput').value;
        const alertStatus = document.getElementById('alertStatus');
        alertStatus.innerText = 'Sending...';
        const res = await fetch('/ap/api/handler?type=alert_all&message='+document.getElementById('alertInput').value);
        
        document.getElementById('alertStatus').innerText = "'" + document.getElementById('alertInput').value + "' has been sent to all users.";
        
    });
</script>
</body>
</html>
