<#include "/ap/assets/base.html">

<div class="container-fluid bg-body-tertiary border-bottom p-3">
    <div class="row align-items-center">
      <div class="col-auto">
        <h5 class="mb-0">
          <i class="fa-solid fa-comment"></i> Chat Explorer
        </h5>
      </div>
    </div>
  </div>

   <div class="container-fluid bg-body-tertiary border-bottom p-3">
    <div class="row">
      <div class="col">
        <form class="d-flex" action="/ap/chat" method="get">
          <input type="text" name="search" class="form-control me-2" placeholder="Search for users or messages..." value="${search!}">
          <button class="btn btn-outline-secondary" type="submit">Search</button>
        </form>
      </div>
    </div>
  </div>


<div class="container-fluid mt-2">
  <div class="table-responsive">
    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col">Message</th>
          <th scope="col" style="width: 150px;">Date</th>
      
        </tr>
      </thead>
      <tbody>
        <#list chats as chat>
         <tr>
        
          <td>
            <img src="${avatarServer}/${chat.from_id?c}?v=${.now?long?c}" class="img-fluid" width="20">
            <a href="/ap/user?id=${chat.from_id?c}">${chat.from_name}</a> 
            wrote "${chat.msg}" to
            <img src="${avatarServer}/${chat.to_id?c}?v=${.now?long?c}" class="img-fluid" width="20">
            <a href="/ap/user?id=${chat.to_id?c}">${chat.to_name}</a> 
          </td>

          <td data-timestamp-format="unix" data-timestamp="${chat.time?c}">${chat.time?c}</td>
         </tr>
        </#list>
      </tbody>
    </table>
  </div>

  
</div>


<#include "/ap/assets/pagination.html">


</body>
</html>
