<#include "assets/base.html">

<div class="container-fluid bg-body-tertiary border-bottom p-3">
    <div class="row align-items-center">
      <div class="col-auto">
        <h5 class="mb-0">
          <i class="fa-solid fa-users"></i> Multi-Account Detection
        </h5>
      </div>
    </div>
  </div>

<div class="container-fluid mt-2">

    <!-- Multi-Account Table -->
    <div class="row">
        <div class="col-12 table-responsive">
            <#if multiAccountDetections?size == 0>
                <div class="alert alert-info" role="alert">
                    No multi-account detections found.
                </div>
            <#else>
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Relation</th>
                            <th scope="col">Level</th>
                            <th scope="col">Date</th>
            
                        </tr>
                    </thead>
                    <tbody>
                        <#list multiAccountDetections as detection>
                            <tr>
                                <td>
                                 
                                        <img src="${avatarServer}/${detection.user1?c}?v=${.now?long?c}" class="img-fluid" width="20">
                                        <a href="/ap/user?id=${detection.user1?c}">${detection.user1_name}</a> 
                                        with account
                                        <img src="${avatarServer}/${detection.user2?c}?v=${.now?long?c}" class="img-fluid" width="20">
                                        <a href="/ap/user?id=${detection.user2?c}">${detection.user2_name}</a> 
                                      
                                     
                                </td>
                                <td>
                                    ${detection.level}
                                </td>
                                <td>
                                    ${detection.detection}   

                                </td>
                            </tr>
                        </#list>
                    </tbody>
                </table>
            </#if>
        </div>
    </div>



</div>

<#include "/ap/assets/pagination.html">

</body>
</html>
